.classpath
.project
.settings/
target/
**/.idea/
**/dependency-reduced-pom.xml
dist/
tldw*/lib
tldw-graph-server/solr/
**/git.properties
**/*.properties
*.iml

HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

*.properties

# Default ignored files
/workspace.xml